.bg{
    width: 100%;
    height: 100vh;

    &__blue{
        background-color : blue;
    }

    &__red{
        background-color : red;
    }

    &__yellow{
        background-color : yellow;
    }

    &__green{
        background-color : green;
    }

    &__black{
        background-color : black;
    }
}