/*########## MIXIN MEDIAS QUERIES ##########*/
@mixin breakPoint($size) {
    @media (min-width: $size) {
        @content;
    }
}

.bg{
    width: 100%;
    height: 100vh;
}

@keyframes animation {
    100%{
        background-position:0px -3000px;
    }
}