.fix-nav {
	position: fixed;
	width: 256px;
	height: 100%;
	z-index: 9999 !important;

	-webkit-transform: translate(100vw, 0px);
	transform: translate(100vw, 0px);
	visibility: visible;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;

    &__content{
		background-color: rgba(141, 141, 141, .3);
        width: 280px;
    }

	&--close {
		-webkit-transform: translate(82vw, 0px);
		transform: translate(82vw, 0px);
		visibility: visible;
	}

	i {
		font-size: 25px;
	}

}
.btn-fixNav{
	background-color: rgba(255, 255, 255, 0.3) !important;
    border-color: rgba(0, 0, 0, 1) !important;
	svg {
		padding-top: 0px !important;
		& path{
			fill: black;
		}
	}
	&:hover{
		background-color: rgba(255, 255, 255, 0.8) !important;
		svg {
			padding-top: 0px !important;
			& path{
				fill: black;
			}
		}
	}

}

.display-menu {
	right: 1%;
	top: 2%;
	position: fixed;
	z-index: 999;

	&--fixed-top {
		position: fixed;
		top: 2%;
		background-color: transparent;
		border: none;
	}
}
