.navigation {
    position: absolute;
    bottom: 5%;
    left: 31%;
    width: 50%;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 1;

    ul {
        display: flex;
        width: 100%;

        li {
            position: relative;
            width: 18%;
            height: 18%;
            list-style: none;
            z-index: 1;

            a {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                text-align: center;
                font-weight: 500;

                .icon {
                    position: relative;
                    display: block;
                    line-height: 75px;
                    font-size: 1.5em;
                    text-align: center;
                    color: #fff;
                    transition: .5s;
                    width: 100%;
                }

                .text {
                    position: absolute;
                    color: #fff;
                    font-weight: 400;
                    font-size: .75em;
                    letter-spacing: .05em;
                    opacity: 0;
                    transform: translateY(20px);
                    transition: .5s;
                    bottom: 30%;
                }

                .circle {
                    position: absolute;
                    display: block;
                    width: 68px;
                    height: 68px;
                    background: transparent;
                    border-radius: 50%;
                    border: 1.8px solid #fff;
                    transform: translateY(-24px) scale(0);
                    bottom: 31%;
                }
            }
        }

        li.active a {
            .icon {
                transform: translateY(-29px);
                width: 100% !important;
                // & div > div > canvas {
                //     width: 100% !important;   
                // }
            }

            .text {
                opacity: 1;
                transform: translateY(15px);
            }

            .circle {
                transition: .5s;
                transition-delay: .5s;
                transform: translateY(-24px) scale(1);
            }
        }
        
        li:nth-child(1).active~.indicator {
            transform: translateX(calc(0px));
        }
        
        li:nth-child(2).active~.indicator {
            transform: translateX(calc(70px * 1));
        }
        
        li:nth-child(3).active~.indicator {
            transform: translateX(calc(70px * 2));
        }
        
        li:nth-child(4).active~.indicator {
            transform: translateX(calc(70px * 3));
        }
    }
}

.indicator {
    position: absolute;
    top: -50%;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}