.navigation {
    position: absolute;
    bottom: 5%;
    left: 37%;
    width: 400px;
    height: 70px;
    background: linear-gradient(45deg, #2196f3, #e91e63);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    ul {
        display: flex;
        width: 350px;
        padding-left: 0rem !important;

        li {
            position: relative;
            width: 70px;
            height: 70px;
            list-style: none;
            z-index: 1;

            a {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                text-align: center;
                font-weight: 500;

                .icon {
                    position: relative;
                    display: block;
                    line-height: 75px;
                    font-size: 1.5em;
                    text-align: center;
                    color: #fff;
                    transition: .5s;
                }

                .text {
                    position: absolute;
                    color: #fff;
                    font-weight: 400;
                    font-size: .75em;
                    letter-spacing: .05em;
                    opacity: 0;
                    transform: translateY(20px);
                    transition: .5s;
                }

                .circle {
                    position: absolute;
                    display: block;
                    width: 50px;
                    height: 50px;
                    background: transparent;
                    border-radius: 50%;
                    border: 1.8px solid #fff;
                    transform: translateY(-29px) scale(0);
                }
            }
        }

        li.active a {
            .icon {
                transform: translateY(-32px);
            }

            .text {
                opacity: 1;
                transform: translateY(15px);
            }

            .circle {
                transition: .5s;
                transition-delay: .5s;
                transform: translateY(-29px) scale(1);
            }
        }
        
        li:nth-child(1).active~.indicator {
            transform: translateX(calc(0px));
        }
        
        li:nth-child(2).active~.indicator {
            transform: translateX(calc(70px * 1));
        }
        
        li:nth-child(3).active~.indicator {
            transform: translateX(calc(70px * 2));
        }
        
        li:nth-child(4).active~.indicator {
            transform: translateX(calc(70px * 3));
        }
        
        li:nth-child(5).active~.indicator {
            transform: translateX(calc(70px * 4));
        }
    }
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: linear-gradient(45deg, #2196f3, #e91e63);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -22px;
        width: 20px;
        height: 20px;
        background: transparent;
        border-top-right-radius: 20px;
        box-shadow: 1px -10px 0 #06021b;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -22px;
        width: 20px;
        height: 20px;
        background: transparent;
        border-top-left-radius: 20px;
        box-shadow: -1px -10px 0 #06021b;
    }

    &__black {
        border: 6px solid #06021b;
        &::before{
            box-shadow: 1px -10px 0 #06021b !important;
        }
        &::after{
            box-shadow: -1px -10px 0 #06021b !important;
        }
    }

    &__green {
        border: 6px solid green;
        &::before{
            box-shadow: 1px -10px 0 green !important;
        }
        &::after{
            box-shadow: -1px -10px 0 green !important;
        }
    }

    &__yellow {
        border: 6px solid yellow;
        &::before{
            box-shadow: 1px -10px 0 yellow !important;
        }
        &::after{
            box-shadow: -1px -10px 0 yellow !important;
        }
    }

    &__blue {
        border: 6px solid blue;
        &::before{
            box-shadow: 1px -10px 0 blue !important;
        }
        &::after{
            box-shadow: -1px -10px 0 blue !important;
        }
    }

    &__red {
        border: 6px solid red;
        &::before{
            box-shadow: 1px -10px 0 red !important;
        }
        &::after{
            box-shadow: -1px -10px 0 red !important;
        }
    }
}