.navigation {
    position: absolute;
    bottom: 6%;
    left: 31%;
    width: 38%;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 1;

    ul {
        display: flex;
        width: 100%;

        li {
            position: relative;
            width: 25%;
            height: 25%;
            list-style: none;
            z-index: 1;

            a {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                text-align: center;
                font-weight: 500;

                .icon {
                    position: relative;
                    display: block;
                    line-height: 75px;
                    font-size: 1.5em;
                    text-align: center;
                    color: #fff;
                    transition: .5s;
                    width: 100%;
                    margin-top: 13px;
                    z-index: 2;
                }

                .text {
                    position: absolute;
                    color: #fff;
                    font-weight: 400;
                    font-size: .75em;
                    letter-spacing: .05em;
                    opacity: 0;
                    transform: translateY(20px);
                    transition: .5s;
                    bottom: 40%;
                }

                .circle {
                    position: absolute;
                    display: block;
                    width: 68px;
                    height: 68px;
                    background: transparent;
                    border-radius: 50%;
                    transform: translateY(-24px) scale(0);
                    bottom: 29%;

                    &__RostrosYEspacios {
                        border: 1.8px solid rgba(185, 161, 130, 1);
                        background: rgba(185, 161, 130, .4);
                    }
                
                    &__ImagenComparada {
                        border: 1.8px solid red;
                        background: rgba(255, 0, 0, .4);
                    }
                
                    &__SinforniaDeUnaLocalidad {
                        border: 1.8px solid blue;
                        background: rgba(0, 0, 255, .4);
                    }
                
                    &__NarracionesBarriales {
                        border: 1.8px solid green;
                        background: rgba(0, 255, 0, .4);
                    }
                }
            }
        }

        li.active a {
            .icon {
                transform: translateY(-29px);
                width: 100% !important;
                margin-top: 8px;
            }

            .text {
                opacity: 1;
                transform: translateY(15px);
            }

            .circle {
                transition: .5s;
                transition-delay: .5s;
                transform: translateY(-24px) scale(1);
            }
        }
        
        li:nth-child(1).active~.indicator {
            transform: translateX(calc(32px));
        }
        
        li:nth-child(2).active~.indicator {
            transform: translateX(calc(165px * 1));
        }
        
        li:nth-child(3).active~.indicator {
            transform: translateX(calc(150px * 2));
        }
        
        li:nth-child(4).active~.indicator {
            transform: translateX(calc(144.2px * 3));
        }
    }

    &-display-menu {
        left: 1%;
        top: 2%;
        position: fixed;
        z-index: 999;
    
        &--fixed-top {
            position: fixed;
            top: 2%;
            background-color: transparent;
            border: none;
        }
    }

    &-fix-nav {
        position: fixed;
        width: 256px;
        height: 100%;
        z-index: 9999 !important;
    
        -webkit-transform: translate(-100vw, 0px);
        transform: translate(-100vw, 0px);
        visibility: visible;
        transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
    
        &__content{
            width: 280px;
            background-color: rgba(141, 141, 141, 1);
            @include breakPoint($medium){
                background-color: rgba(141, 141, 141, 0.3) !important;
            }
        }
    
        &--close {
            -webkit-transform: translate(0vw, 0px);
            transform: translate(0vw, 0px);
            visibility: visible;
        }
    
        i {
            font-size: 25px;
        }
    }
}

.nav-item-a{
    text-decoration: none;
}
.nav-item-text {
    color: white;
}