.PointerBg{
    background-size: cover;
    &-RyE{
        background-image: url('/img/RostrosYEspacios.png');
    }
} 
.iframeVideo{
    iframe {
        width: 100%;
        height: 250px;
    
        @include breakPoint($large){
            height: 350px;
        }

        @include breakPoint($xlarge){
            height: 500px;
        }
    }
}