@font-face {
    font-family: 'fontRyE';
    src: url('./../assets/fonts/erasdust.ttf');
}

/*########## BREAKPOINT ##########*/
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$xxlarge: 1400px;
$xxxlarge: 1500px;

/*########## IMPORTACIONES ##########*/
@import "./components/background";
@import "./components/header";
@import "./components/fixNav";
@import "./components/compareImage";
@import "./components/PointerContent";
@import "./components/loader";
@import "./components/modal";
@import "./components/audio";


*{
    font-family: 'fontRyE' !important;
}

.viewer {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    position: absolute;
    top: 0;
    z-index: 0;
}

.modal-content{
    background-color: rgba(255, 255, 255, .6) !important;
}

.react-tooltip {
    z-index: 100 !important;
}