// @font-face {
//     font-family: 'fontRyE';
//     src: url('./../assets/fonts/brankovic.ttf');
// }

@font-face {
    font-family: 'fontRyE';
    src: url('./../assets/fonts/erasdust.ttf');
}

// @font-face {
//     font-family: 'fontRyE';
//     src: url('./../assets/fonts/KingthingsTrypewriter2.ttf');
// }

// @font-face {
//     font-family: 'fontRyE';
//     src: url('./../assets/fonts/zai_CourierPolski1941_i.ttf');
// }

// @font-face {
//     font-family: 'fontRyE';
//     src: url('./../assets/fonts/zai_CourierPolski1941.ttf');
// }

/*########## BREAKPOINT ##########*/
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$xxlarge: 1400px;
$xxxlarge: 1500px;

/*########## IMPORTACIONES ##########*/
@import "./components/background";
@import "./components/header";
@import "./components/fixNav";
@import "./components/compareImage";
@import "./components/PointerContent";


*{
    font-family: 'fontRyE' !important;
}

#root{
    cursor: url('/puntero.png'), auto !important;
}

.viewer {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    position: absolute;
    top: 0;
    z-index: 0;
}

